spring.datasource.url=jdbc:postgresql://localhost:your_postgres_port/your_postgres_database_name
spring.datasource.username=your postgres profile username
spring.datasource.password=your postgres profile password
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=true
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.database=postgresql